# Data Science Tools and Ecosystem

In [ ]:
**Introduction:**
This notebook entails a summary of Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- Create a single column table listing Data Science tools
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3.  Scikit-learn

|Data Science tools|
|------------------|
|Jupyter Notebook|
|Python|
|Apache Spark|
|R|

### Consider the examples below used in evaluating arithmetic expressions in Python
2*(3*4)
(2*3)*4
6+(7+8)
(6+7)+8
(6+6)/2
6+(6/2)

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [7]:
# Below is an expression which converts 200 minutes to hours
200/60

3.3333333333333335

## Author
Michael Kofi Ahenkan